# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfstate.backup
*.tfvars
terraform.tfplan
.terraformrc
terraform.rc
override.tf
override.tf.json
*_override.tf
*_override.tf.json
crash.log
crash.*.log
*.tfplan

# Sensitive files
**/.terraform/*
